<style>
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.user-container {
  background: #a9bdce;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}
.user-container label {
  font-size: 14px;
  margin-right: 1rem;
}
.user-container input {
  border-radius: 3px;
  border: none;
  height: 100%;
}
.display-container {
  flex: 12;
  background: #b2c7d9;
  overflow-y: scroll;
}
.input-container {
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.input-container span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  width: 100%;
}
.chatting-input {
  font-size: 12px;
  height: 100%;
  flex: 8;
  border: none;
}
.send-button {
  flex: 1;
  background: #ffeb33;
  border: none;
  height: 100%;
  border-radius: 3px;
}

.chatting-list li {
  width: 90%;
  padding: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 0.5rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.profile .user {
  font-size: 10px;
  margin-bottom: 0.3rem;
}
.profile .image {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.message {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 12px;
  margin: 0 5px;
  flex: 7;
}

.time {
  font-size: 10px;
  margin: 0 5px;
}

.sent {
  flex-direction: row-reverse;
  float: right;
}

.sent .message {
  background: #ffeb33;
}

.received .message {
  background: #fff;
}
</style>

<div class="wrapper">
        <div class="user-container">
            <label for="nickname">대화명</label>
            <input type="text" id="nickname">
        </div>
        <div class="display-container">
            <ul class="chatting-list">
            
            </ul>
        </div>
        <div class="input-container">
            <span>
                <input type="text" class="chatting-input">
                <button class="send-button">전송</button>
            </span>
        </div>
    </div>

<!-- <script>

const socket = io();

const nickname = document.querySelector("#nickname")
const chatlist = document.querySelector(".chatting-list")
const chatInput = document.querySelector(".chatting-input");
const sendButton = document.querySelector(".send-button");
const displyContainer = document.querySelector(".display-container");

chatInput.addEventListener("keypress", (event)=>{
    if(event.keyCode === 13) {
        send()
    }

})

function send(){
    const param = {
        name: nickname.value,
        msg: chatInput.value
    }
    socket.emit("chatting", param)
}

sendButton.addEventListener("click", send)



socket.on("chatting", (data) => {
    const { name, msg, time } = data;
    const item = new LiModel(name, msg, time);
    item.makeLi()
    displyContainer.scrollTo(0, displyContainer.scrollHeight)
})

function LiModel(name, msg, time){
    this.name = name;
    this.msg = msg;
    this.time = time;
    this.makeLi = ()=>{
        const li = document.createElement("li");
        li.classList.add(nickname.value === this.name ? "sent": "received")
        const dom = `<span class="profile">
        <span class="user">${this.name}</span>
        <img class="image" src="https://placeimg.com/50/50/any" alt="any">
    </span>
    <span class="message">${this.msg}</span>
    <span class="time">${this.time}</span>`;
    li.innerHTML = dom;
    chatlist.appendChild(li)
    }
}

</script> -->

<script src="/socket.io/socket.io.js"></script>
<script src="./chat.js"></script>
<!-- <script src="/3e/node_modules/socket.io/client-dist/socket.io.js"></script> -->