<footer class="mt-5 py-8 bg-dark">
    <div class="row footer_f">
      <div class="col-12 col-md">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
        <small class="d-block mb-3 text-muted">&copy; 2021–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#"><h3>Development environment.</h3></a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Html</a></li>
          <li><a class="link-secondary" href="#">CSS</a></li>
          <li><a class="link-secondary" href="#">Javascript</a></li>
          <li><a class="link-secondary" href="#">Node</a></li>
          <li><a class="link-secondary" href="#">Bootstrap</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Nunjucks</a></li>
          <li><a class="link-secondary" href="#">Mysql</a></li>
          <li><a class="link-secondary" href="#">Socket.io</a></li>
          <li><a class="link-secondary" href="#">AJAX</a></li>
          <li><a class="link-secondary" href="#">Express</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Team:3E</a></li>
          <li><a class="link-secondary" href="#">이성재</a></li>
          <li><a class="link-secondary" href="#">한경현</a></li>
          <li><a class="link-secondary" href="#">이관훈</a></li>
          <li><a class="link-secondary" href="#">이동녘</a></li>
        </ul>
      </div>
    </div>
  </footer>