{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      <!-- {% if user %} -->
       
      <!-- {% endif %} -->
      <div class="twits">
        <form id="hashtag-form" action="/hashtag">
          <input type="text" name="hashtag" placeholder="태그 검색">
          <button class="btn">검색</button>
        </form>
  
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="box-wrap">
          <div class="itemgo">
          <div class="timeline">
            <div class="caps">
              {% for twit in twits %}
              <form action="/cart" method="POST">
                <div class="cap">

                          <div class="card" style="width: 303px;">
                            <div class="box">
                              <div class="img imgswap">
                                <img class="img-won" src="{{twit.img}}" alt="Hover Effect">
     
                                <img src="https://i.ibb.co/gTPTj3r/ezgif-com-gif-maker.gif" alt="Hover Effect">
                                <input type="hidden" name="img" value="{{twit.img}}">
                              </div>
                              <div class="info">
                                <div class="twit-brand" name="brand" value="{{twit.brand}}" contenteditable="true">{{twit.brand}}</div>
                                <div>{{twit.capname}}</div>
                                <input type="hidden" name="capnumber" value="{{twit.capnumber}}">{{cap.capnumber}}
                                <p class="font_test2">{{twit.price +'원'}}<small class="font_test1"> 29%</small></p>
                                <p class="font_test3">{{twit.price +'원'}}</p>
                                <p class="font_test4">{{twit.price +'원'}}</p>
                                <a href=""><img class="cartt" src="https://i.esdrop.com/d/cl3pewp2aooj/Bz4Qphhj22.png"
                                    alt=""></a>
                              </div>
                            </div>
                            <div class="card-body">
                              <input type="hidden" name="capname" value="{{twit.capname}}">{{cap.capname}}
                              <div class="cap-content">{{cap.content}}</div>
                              <p class="card-text">
                                <span class="badge bg-dark">검정</span>
                                <span class="badge bg-light">화이트</span>
                                <span class="badge bg-danger">레드</span>
                                <span class="badge bg-primary">블루</span><br>
                                <span class="badge bg-dark">남녀공용</span>
                                <span class="badge bg-dark">Free size</span>
                              </p>
                              <!-- <a href="#" class="btn btn-sm btn-outline-secondary">장바구니</a> -->
                              <div class="cap-content">{{twit.content}}</div>
                              <input type="hidden" name="price" value="{{twit.price +'원'}}">{{twit.price +'원'}}
                              <button id="cap-brand" type="submit" class="btn" name="{{twit.brand}}" value="{{twit.brand}}">장바구니
                                담기</button>
                            </div>
                          </div>
                        
    
                        </div>
    
              </form>
    
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </div>
    <style>
      @font-face {
        font-family: 'GoyangIlsan';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
    
      body {
        font-family: 'GoyangIlsan'
      }
    
      .row {
        justify-content: center;
      }
    
      .itemgo {
        padding-top: 100px;
      }
    
      .box-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-flow: row wrap;
      }
    
      .box {
        display: flex;
        position: relative;
        background: #000;
        flex-direction: row;
        width: 300px;
        height: 300px;
        border: 1px solid #283593;
        cursor: pointer;
        overflow: hidden;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      }
    
      .box .img-won {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    
      }
    
      .box:before {
        content: '';
        background: #fff;
        width: 0px;
        height: 1px;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: all 0.35s ease;
      }
    
      .box:after {
        content: '';
        background: #fff;
        width: 1px;
        height: 0px;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: all 0.35s ease;
      }
    
      .box .info {
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
        color: #fff;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
    
      .box .info h3 {
        font-size: 24px;
        line-height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-bottom: 3px;
      }
    
      .box .info p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
      }
    
      .box:hover .info {
        opacity: 1;
        margin: 0;
      }
    
      .box:hover .img-won {
        opacity: 0.6;
      }
    
      .box:hover:before {
        width: 60px;
      }
    
      .box:hover:after {
        height: 60px;
      }
    
      .imgswap img:last-child {
        display: none
      }
    
      .imgswap:hover img:first-child {
        display: none
      }
    
      .imgswap:hover img:last-child {
        display: inline-block
      }
    
      .font_test4 {
        color: darkorange;
        font-size: small;
      }
    
      .font_test3 {
        text-decoration: line-through;
        font-size: small;
      }
    
      .font_test2 {
        text-decoration: line-through;
        font-size: xx-small;
      }
    
      .font_test1 {
        text-decoration: none;
        color: red;
        margin-bottom: 1px;
      }
    
      .itemnam {
        font-weight: 900;
      }
    
      .cartt {
        width: 40px;
        height: 40px;
      }
    
      .bg-light {
        color: black;
      }
    </style>
    
{% endblock %}

{% block script %}


  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    document.querySelectorAll('.twit-follow').forEach(function(tag) {
      tag.addEventListener('click', function() {
        const myId = document.querySelector('#my-id');
        if (myId) {
          const userId = tag.parentNode.querySelector('.twit-user-id').value;
          if (userId !== myId.value) {
            if (confirm('팔로잉하시겠습니까?')) {
              axios.post(`/user/${userId}/follow`)
                .then(() => {
                  location.reload();
                })
                .catch((err) => {
                  console.error(err);
                });
            }
          }
        }
      });
    });
  </script>
{% endblock %}
