<link rel="stylesheet" type="text/css" href="/rolling.css">
<script defer type="text/javascript" src="./js/jquery-3.1.0.min.js"></script>

	<img alt="" class="animation-text" src="//image.musinsa.com/images/campaign_img/2021100718312100000035811.png">
	
	<div class="rolling_wrap">
		<a href="" class="content"><img id="main_sdimg" src="https://i.esdrop.com/d/cl3pewp2aooj/b2jX7zcZTO.png"/></a>
		<a href="" class="content"><img id="main_sdimg" src="https://i.esdrop.com/d/cl3pewp2aooj/YWNLElB2LZ.png" /></a>
		<a href="" class="content"><img id="main_sdimg" src="https://i.esdrop.com/d/cl3pewp2aooj/vAquHpHK3G.png" /></a>
		<a href="" class="content"><img id="main_sdimg" src="https://i.esdrop.com/d/cl3pewp2aooj/IuKdjSlRqb.png" /></a>
		<a href="" class="content"><img id="main_sdimg" src="https://i.esdrop.com/d/cl3pewp2aooj/PTXHWBfpdr.png" /></a>
		<a href="" class="content"><img id="main_sdimg" src="https://i.esdrop.com/d/cl3pewp2aooj/8IxZO4VmAy.png" /></a>
	</div>

	<script defer type="text/javascript" src="/rolling.js"></script>

