{% extends 'layout.html' %}

{% block content %}

    
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
></script>
    <style>
        body {
            font-family: sans-serif;
        }

        body *,
        body *:before,
        body *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body .wrapper {
            width: 1140px;
            margin: 0 auto;
            max-width: 100%;
            padding: 0 15px;
        }

        body .clearfix:after {
            content: " ";
            clear: both;
            display: table;
        }
        .board {
    margin-bottom: 30px;
}

.board .header {
    margin-bottom: 30px;
    text-align: center;
}

.board .header .title {
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #1259a7;
}

.board .header .desc {
    margin-top: 10px;
}

.board .article table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.board .article table th,
.board .article table td {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
}

.board .article table th {
    background: #f7f7f7;
}

.board .article table td.title {
    text-align: center;
}

.board .article table td a {
    cursor: pointer;
}

.board .article table td.title span {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    font-size: 10px;
    margin-left: 3px;
}

.board .article table td.title span.new {
    background: #f71d1d;
}

.board .article table td.title span.update {
    background: #1259a7;
}

.board .article table td a:hover {
    text-decoration: underline;
}

.board .article .search {
    margin-top: 20px;
    font-size: 14px;
    text-align: right;
}

.board .article .search .count {
    float: left;
    border: 1px solid #ddd;
    padding: 12px;
}

.board .article .search .bundle {
    width: 370px;
    margin-left: auto;
}

.board .article .search .bundle select {
    height: 42px;
    border: 1px solid #ddd;
    vertical-align: middle;
    border-radius: 0;
    padding: 0 5px;
    float: left;
    width: 35%;
}

.board .article .search .bundle input {
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    border-radius: 0;
    height: 42px;
    padding: 0 10px;
    float: left;
    width: 53.5%;
}

.board .article .search button {
    border: 1px solid #1259a7;
    background: #1259a7;
    vertical-align: middle;
    color: #fff;
    height: 42px;
    cursor: pointer;
    padding: 0 13px;
    float: left;
    width: 11.5%;
}

.board .article .pages {
    margin-top: 20px;
    text-align: center;
}

.board .article .pages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.board .article .pages ul>li {
    display: inline-block;
}

.board .article .pages ul>li>a {
    cursor: pointer;
    display: inline-block;
    padding: 8px 13px;
    font-size: 14px;
    border: 1px solid #ddd;
}

.board .article .pages ul>li>a:hover {
    background: #eee;
}

.board .article .pages ul>li.active>a {
    background: #1259a7;
    border-color: #1259a7;
    color: #fff
}

@media(max-width:767px) {
    .board .article table .check,
    .board .article table .num,
    .board .article table .date,
    .board .article table .views {
        display: none;
    }

    .board .article .search .count {
        display: none;
    }

    .board .article .search .bundle {
        width: 100%;
    }
}
</style>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="board">
        <div class="header">
            <div class="wrapper">
                <a class="title" href="/">NOCAP</a>
                <div class="desc">상세 페이쥐이이이이이이이이이이</div>
            </div>
        </div>
        
        {% if comments %}
        <div class="article">
            <div class="wrapper">
                <br>
                <br>
                <br>
                <table style="border: 2px solid #1259a7;">
                  <tr>
                    <th>번호</th>
                    <td>{{comments.id}}</td>
                    <th>조회수</th>
                    <td>{{comments.viewcount}}</td>
                    <th>작성자</th>
                    <td>{{comments.User.nick}}</td>
                  </tr>
                  <tr>
                    <th>제목</th>
                    <td colspan="5">{{comments.title}}</td>
                  </tr>
                  <tr>
                    <th>작성일</th>
                    <td colspan="2">{{comments.createdAt}}</td>
                    <th>수정일</th>
                    <td colspan="2">{{comments.updatedAt}}</td>
                  </tr>
                  <tr>
                    <th>이미지</th>
                    <td colspan="6" height="400" style="max-width: 600px; max-height: 600px;"><img src="{{comments.img}}" /></td>
                  </tr>
                  <tr>
                    <th>내 용</th>
                    <td colspan="6" height="400" style="text-align: left;" >{{comments.comment}}</td>
                  </tr>
                  <tr>
                    <td colspan="6">
                      <a href="/board"> 목록 </a>
                    </td>
                  </tr>
                </table>
                <br>
                <br>
              
                </div>
            </div>
        {% endif %}
        <div >
            {% if comments.UserId === user.id%}
            <a href="/board\{{comments.id}}/boardedit" style="margin-left: 200px; font-weight: bold;">수정</a>     
            <a href="/board\{{comments.id}}/delete" style="margin-left: 50px; font-weight: bold;">삭제</a> 
            {% endif %}
        </div>
                
        </div>
    </div>
<script>
    // 작성일자 뒤에 필요없는 부분 날려주는 js
    const date = document.getElementsByClassName("board-list-time1");
    const chgDate = date.innerText;
    const classdate = moment(chgDate).format("YYYY-MM-DD");
    date.innerText = classdate;
    </script>
</body>

{% endblock %}


