{% extends 'layout.html' %}

{% block content %}

    
    <style>
        body {
            font-family: sans-serif;
        }

        body *,
        body *:before,
        body *:after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        body .wrapper {
            width: 1140px;
            margin: 0 auto;
            max-width: 100%;
            padding: 0 15px;
        }

        body .clearfix:after {
            content: " ";
            clear: both;
            display: table;
        }
        .board {
    margin-bottom: 30px;
}

.board .header {
    margin-bottom: 30px;
    text-align: center;
}

.board .header .title {
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #1259a7;
}

.board .header .desc {
    margin-top: 10px;
}

.board .article table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.board .article table th,
.board .article table td {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
}

.board .article table th {
    background: #f7f7f7;
}

.board .article table td.title {
    text-align: center;
}

.board .article table td a {
    cursor: pointer;
}

.board .article table td.title span {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    font-size: 10px;
    margin-left: 3px;
}

.board .article table td.title span.new {
    background: #f71d1d;
}

.board .article table td.title span.update {
    background: #1259a7;
}

.board .article table td a:hover {
    text-decoration: underline;
}

.board .article .search {
    margin-top: 20px;
    font-size: 14px;
    text-align: right;
}

.board .article .search .count {
    float: left;
    border: 1px solid #ddd;
    padding: 12px;
}

.board .article .search .bundle {
    width: 370px;
    margin-left: auto;
}

.board .article .search .bundle select {
    height: 42px;
    border: 1px solid #ddd;
    vertical-align: middle;
    border-radius: 0;
    padding: 0 5px;
    float: left;
    width: 35%;
}

.board .article .search .bundle input {
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    border-radius: 0;
    height: 42px;
    padding: 0 10px;
    float: left;
    width: 53.5%;
}

.board .article .search button {
    border: 1px solid #1259a7;
    background: #1259a7;
    vertical-align: middle;
    color: #fff;
    height: 42px;
    cursor: pointer;
    padding: 0 13px;
    float: left;
    width: 11.5%;
}

.board .article .pages {
    margin-top: 20px;
    text-align: center;
}

.board .article .pages ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.board .article .pages ul>li {
    display: inline-block;
}

.board .article .pages ul>li>a {
    cursor: pointer;
    display: inline-block;
    padding: 8px 13px;
    font-size: 14px;
    border: 1px solid #ddd;
}

.board .article .pages ul>li>a:hover {
    background: #eee;
}

.board .article .pages ul>li.active>a {
    background: #1259a7;
    border-color: #1259a7;
    color: #fff
}

@media(max-width:767px) {
    .board .article table .check,
    .board .article table .num,
    .board .article table .date,
    .board .article table .views {
        display: none;
    }

    .board .article .search .count {
        display: none;
    }

    .board .article .search .bundle {
        width: 100%;
    }
}
</style>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="board">
        <div class="header">
            <div class="wrapper">
                <a class="title" href="/">NOCAP</a>
                <div class="desc">생각을 자유롭게 공유해주세요</div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper">
                <table>
                    <form action="/board" method="POST">
                        <tr>
                            <th class="num">게시글 번호</th>
                            <th>제 목</th>
                            <th>작성자</th>
                            <th class="date">작성일자</th>
                            <th class="views">조회수</th>
                        </tr>
                    
                    {% for comment in comments %}
                    <tr>
                        <td class="board-list-num">
                            <div>
                                {{comment.id}}
                            </div>
                        </td>
                        <!-- 해당 타이틀을 가진 글의 세부내용으로 가기 -->
                        <td class="board-list-content">
                            <div>
                            <a class="board-list-content-link" href="/boarddetail/{{comment.id}}">{{comment.title}}</a>
                            </div>
                        </td>
                        <!-- user모델과 연동해서 작성한 사람 nick이 뜰 수 있게 -->
                        <td class="board-list-name">
                            <div>
                                {{comment.User.nick}}
                            </div>
                        </td>
                        <td class="board-list-time">
                            <div class="board-list-time1">{{comment.createdAt}}</div>
                        </td>
                        <!-- 조회수로 수정 요망 -->
                        <td class="viewcount">
                            <div class="board-list-viewcount">{{comment.viewcount}}</div>
                        </td>
                    </tr>
                    
                    {% endfor %}
                    <tr>
                        <td class="num">0</td>
                        <td class="title">
                            <a>이상한 말은 하지 말아주세여</a>
                            <span class="update">공지</span>
                        </td>
                        <td>관리자 일동</td>
                        <td class="date">2021-10-05</td>
                        <td class="views">33</td>
                    </tr>
                </form>
                    <tbody>
                </table>

                <br>
                <!-- boardwrite로 페이지를 넘겨주는 버튼 -->
                <div>
                <button class="boardwrite" onclick="location.href='boardwrite'">글 작성</button>
                </div>
                <!-- page 개수 -->
                <div class="pages">
                    <ul>
                        <li class="active">
                            <a>1</a>
                        </li>
                        <li>
                            <a>2</a>
                        </li>
                        <li>
                            <a>3</a>
                        </li>
                        <li>
                            <a>4</a>
                        </li>
                        <li>
                            <a>5</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}


