{% extends 'layout.html' %}

{% block content %}
{% for cart in carts %}
<form action="/" method="POST">
  <div class="cart">
    {% if cart.price === '30000원' %}
   <input type="hidden" name="capname" value="{{'cart.capname'}}">{{cart.price +'원'}}
   <input type="hidden" name="capnumber" value="{{cart.capnumber}}">{{cart.capnumber}}
   <div class="cart-brand" name="brand" value="{{cart.brand}}" contenteditable="true">{{cap.brand}}</div>
    <div class="cap-content">{{cart.content}}</div>
    <input type="text">
    <input type="hidden" name="price" value="{{cap.price +'원'}}">{{cap.price +'원'}}
    <input type="hidden" name="img" value="{{cap.img}}">{{cap.img}}
    <div class="cap-img"><img src="{{cap.img}}" alt="섬네일">
    <button class="twit-follow">구매하기</button>
      <button id="cap-brand" type="submit" class="btn" name="{{cap.brand}}" value="{{cap.brand}}">장바구니 담기</button>
      

    </form>
    {% endif %}
  </div>
{% endfor %}
   <div>{{carts.capname}}</div>
    <p>안녕하세요</p>
{% endblock %}
{% block script %}
  <script>
    if (document.getElementById('img')) {
      document.getElementById('img').addEventListener('change', function(e) {
        const formData = new FormData();
        console.log(this, this.files);
        formData.append('img', this.files[0]);
        axios.post('/post/img', formData)
          .then((res) => {
            document.getElementById('img-url').value = res.data.url;
            document.getElementById('img-preview').src = res.data.url;
            document.getElementById('img-preview').style.display = 'inline';
          })
          .catch((err) => {
            console.error(err);
          });
      });
    }
    // document.querySelectorAll('.twit-follow').forEach(function(tag) {
    //   tag.addEventListener('click', function() {
    //     const myId = document.querySelector('#my-id');
    //     if (myId) {
    //       const userId = tag.parentNode.querySelector('.twit-user-id').value;
    //       if (userId !== myId.value) {
    //         if (confirm('팔로잉하시겠습니까?')) {
    //           axios.post(`/user/${userId}/follow`)
    //             .then(() => {
    //               location.reload();
    //             })
    //             .catch((err) => {
    //               console.error(err);
    //             });
    //         }
    //       }
    //     }
    //   });
    // });
  </script>
{% endblock %}