{% extends 'layout.html' %}

{% block css %}
<!-- <link href="/public/cart.css" rel="stylesheet"> -->
{% endblock %}

<!-- <div class="carts" style="padding-top: 200px;">

<form action="/payment" method="POST">
  {% for carts in cart %}

  <div class="cart">
    <input type="hidden" name="capname" value="{{'carts.capname'}}">{{carts.capname}}
  
   
   <input type="hidden" name="capnumber" value="{{carts.capnumber}}">{{carts.capnumber}}
   <div class="cart-brand" name="brand" value="{{carts.brand}}" >{{carts.brand}}</div>
    <div class="cap-content">{{cart.content}}</div>
    <input type="hidden" name="price" value="{{carts.price +'원'}}">{{carts.price +'원'}}
    <input type="hidden" name="img" value="{{cap.img}}">{{carts.img}}
    <div class="cap-img"><img src="{{cap.img}}" alt="섬네일">
      {% endfor %}
    <button class="twit-follow" type="submit" class="btn" >결제하기</button>

      

    </form> -->


{% block content %}
<section class="shoppingCart-section" style="padding-top: 200px;">
    <div class=shoppingCart-header>
        <h3> Shopping Cart </h3>
    </div>
    <div class="shoppingCart-items">
        <table class="shoppingCart-items-table">
            <tr>
                <td>
                    일반 상품
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <a>이미지</a>
                </td>
                <td>
                    <a>상품 이름</a>
                </td>
                <td>
                    <a>가격</a>
                </td>
                <td></td>
            </tr>
            {% set totalPrice = 0 %}
            {% for carts in cart%}
            {% set totalPrice = totalPrice + carts.price %}
            <tr>
                <td class="shoppingCart-item-img">
                    <img src="/images/product/{{cap.img}}.jpg" />
                </td>
                <td>
                    <a class="item-name">{{carts.capname}}</a>
                </td>
                <td>
                    <a class="item-price">￦{{carts.price}}</a>
                </td>
                <td>
                    <button class="buy-item" value="{{carts.pid}}">구매</button>
                    <button class="delete-item">삭제</button>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>[ 기본 배송 ]</td>
                <td style="text-align:right">
                    <a>총액</a>
                </td>
                <td>
                    <a class="item-price-all">￦{{totalPrice}}</a>
                </td>
                <td></td>
            </tr>
        </table>
        <button class="buy-all">모두 구매</button>
    </div>
</section>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/public/main.js"></script>
{% endblock %}
