<style>
    @import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
  width: 100%;
  height: 100vh;
  background: #12181e;
  display: grid;
  place-items: center;
  padding: 4rem;
  position: relative;
  overflow: hidden;
} */


.mh {
  width: 500px;
  /* height: 100vh; */
  display: grid;
  place-items: center;
  /* padding: 4rem; */
  position: relative;
  /* overflow: hidden; */
  padding-left: 0;
  padding-right: 0;
  float: right;
  margin-top: 40px;
}

.menu {
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  justify-content: start;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 30px;

}

.menu__item-image_wrapper {
  position: absolute;
  width: 400px;
  height: 400px;
  pointer-events: none;
  opacity: 0;
}

.menu__item-image_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.menu__item-image_inner .menu__item-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu__item-text {
  position: relative;
  display: block;
  color: black;
  font-family: "Krona One";
  font-size: 3.7rem;
  font-weight: 300;
  padding:0;
  opacity: 1;
  transition: opacity 350ms ease;
  mix-blend-mode: normal;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.menu__item-text:hover .menu__item-innertext {
  letter-spacing: 0.425rem;
}

.menu__item-innertext {
  display: inline-block;
  transition: letter-spacing 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu:hover .menu__item-text {
  opacity: 0.25;
}
.menu:hover .menu__item-text:hover {
  opacity: 0.85;
}

.menu__item:hover .menu__item-text {
  z-index: 10;
  mix-blend-mode: difference;
}
.menu__item:hover .menu__item-image_wrapper {
  z-index: 2;
}

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}
</style>

<main class="mh">
	<nav class="menu">
		<a class="menu__item" href="/nike">
			<div class="menu__item-image_wrapper">
				<div class="menu__item-image_inner">
					<img class="menu__item-image" src="https://i.esdrop.com/d/cl3pewp2aooj/uEuMYqaPaN.jpg" alt="" />
				</div>
			</div>
			<span class="menu__item-text"><span id="testClick" class="menu__item-innertext">NIKE</span></span>
		</a>
		<a class="menu__item">
			<div class="menu__item-image_wrapper">
				<div class="menu__item-image_inner">
					<img class="menu__item-image" src="https://i.esdrop.com/d/cl3pewp2aooj/GE9oCZ62sy.gif" alt="" />
				</div>
			</div>
			<span class="menu__item-text"><span class="menu__item-innertext">ADIDAS</span></span>
		</a>
		<a class="menu__item">
			<div class="menu__item-image_wrapper">
				<div class="menu__item-image_inner">
					<img class="menu__item-image" src="https://i.esdrop.com/d/cl3pewp2aooj/OXfe0CFkjF.png" alt="" />
				</div>
			</div>
			<span class="menu__item-text"><span class="menu__item-innertext">CARHARTT</span></span>
		</a>
		<a class="menu__item">
			<div class="menu__item-image_wrapper">
				<div class="menu__item-image_inner">
					<img class="menu__item-image" src="https://i.esdrop.com/d/cl3pewp2aooj/7C0Hw5izWa.png" alt="" />
				</div>
			</div>
			<span class="menu__item-text"><span class="menu__item-innertext">CHAMPION</span></span>
		</a>
		<a class="menu__item">
			<div class="menu__item-image_wrapper">
				<div class="menu__item-image_inner">
					<img class="menu__item-image" src="https://i.esdrop.com/d/cl3pewp2aooj/hv9ZpiYbOq.jpg" alt="" />
				</div>
			</div>
			<span class="menu__item-text"><span class="menu__item-innertext">COVERNAT</span></span>
		</a>
		<a class="menu__item">
			<div class="menu__item-image_wrapper">
				<div class="menu__item-image_inner">
					<img class="menu__item-image" src="https://i.esdrop.com/d/cl3pewp2aooj/5UHNc8TXxx.png" alt="" />
				</div>
			</div>
			<span class="menu__item-text"><span class="menu__item-innertext">NEWERA</span></span>
		</a>
	</nav>
</main>

<!-- <div class="support">
	<a href="https://twitter.com/DevLoop01" target="_blank"><i class="fab fa-twitter-square"></i></a>
	<a href="https://dribbble.com/devloop01" target="_blank"><i class="fab fa-dribbble"></i></a>
</div> -->
<!-- partial -->
  <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script><script  src="/public/script.js"></script>
  <script>
      console.clear();

const { gsap } = window;

gsap.timeline()
	.set(".menu", { autoAlpha: 1 })
	.from(".menu__item-innertext", {
		delay: 1,
		duration: 0.85,
		yPercent: 125,
		stagger: 0.095,
		skewY: gsap.utils.wrap([-8, 8]),
		ease: "expo.out",
	})
	.set(".menu", { pointerEvents: "all" });

gsap.defaults({
	duration: 0.55,
	ease: "expo.out",
});

const menuItems = document.querySelectorAll(".menu__item");

menuItems.forEach((item) => {
	const imageWrapper = item.querySelector(".menu__item-image_wrapper");
	const imageWrapperBounds = imageWrapper.getBoundingClientRect();
	let itemBounds = item.getBoundingClientRect();

	const onMouseEnter = () => {
		gsap.set(imageWrapper, { scale: 0.8, yPercent: 20, rotation: -15 });
		gsap.to(imageWrapper, { opacity: 1, scale: 1, yPercent: 0, rotation: 0 });
	};
	const onMouseLeave = () => {
		gsap.to(imageWrapper, { opacity: 0, yPercent: -50, scale: 0.8, rotation: -15 });
	};
	const onMouseMove = ({ x, y }) => {
		let yOffset = itemBounds.top / imageWrapperBounds.height;
		yOffset = gsap.utils.mapRange(0, 1.5, -150, 150, yOffset);
		gsap.to(imageWrapper, {
			duration: 1.25,
			x: Math.abs(x - itemBounds.left) - imageWrapperBounds.width / 1.55,
			y: Math.abs(y - itemBounds.top) - imageWrapperBounds.height / 2 - yOffset,
		});
	};

	item.addEventListener("mouseenter", onMouseEnter);
	item.addEventListener("mouseleave", onMouseLeave);
	item.addEventListener("mousemove", onMouseMove);

	window.addEventListener("resize", () => {
		itemBounds = item.getBoundingClientRect();
	});
});
  </script>
