{% extends 'layout.html' %}


{% block content %}
<style>

  
  .hori_cont{
    display: flex;
    margin-bottom: 30px;
}


.profile_wrap{
    width: 40%;

}
.profile_img{
    width: 152px;
    height: 152px;
    overflow:hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.profile_img img{
    width: 100%;
    height: 100%;
}


.detail{
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}
.detail .top{
    display: flex;
    align-items: center;
}

.detail .top .user_name{
    font-size: 35px;
    font-weight: 200;
    display: inline-block;
    padding-right: 25px;
    margin-top: 10px;
}

.detail .top > a{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    padding: 3px 20px;
    font-weight: 600;
    vertical-align: text-bottom;
    text-decoration: none;
    box-sizing: border-box;
}


.detail .middle{
    display: flex;
    height: 50px;
    padding: 18px 0;
    font-size: 15px;
    font-weight: 600;
}


.detail .middle > li{
    margin-right: 35px;
}
.detail .about > span{
    display:inline-block;
    cursor: pointer;
    position:relative;
}

.detail .about > span:nth-child(1){
    margin-right: 50px;
}


.detail .about > span:after{
    content:'';
    width:0;
    height:1px;
    position:absolute;
    left:0;
    bottom:-5px;
    transition:all 0.5s;
    background:#dd2d76;
}

.detail .about > span.on:after{
    width:100%;
}

.contents_container{
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}


.contents_container.active{
    display: flex;
}

.contents_container .pic{
    max-width:300px;
    max-height:300px;
    overflow:hidden;
    margin-bottom: 18px;


}

.contents_container .pic img{
    width: 100%;
    height: 100%;
}


@media screen and (max-width:1000px){

    .contents_container {
        justify-content: center;

    }


    .contents_container .pic{
        margin:10px;
    }
}
</style>
<style>
  body{
  padding: 0;
  margin: 0;
}
div{
  box-sizing: border-box;
}

/* alert badge */
.circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: #ff0000;
  position: absolute;
  top: -5px;
  left: 110%;
}







/* 단골상점 , 상품후기 , 적립금 */
.summaryContainer .item{
  flex-grow: 1
}

/* 텍스트 */
.summaryContainer .item > div:nth-child(2){
  font-size: 13px;
}

/* ================== 주문/배송조회 박스 시작 ==================== */
.shippingStatusContainer{
  padding: 21px 16px;
  background-color:none;
  margin-bottom: 10px;
}

/* 주문/배송조회 타이틀 */
.shippingStatusContainer .title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* 장바구니 결제완료 배송중 구매확정 [로우] */
.shippingStatusContainer .status{
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
/* 장바구니 결제완료 배송중 구매확정 [아이템]  */
.shippingStatusContainer .item{
  display: flex;
}

.shippingStatusContainer .number{
  font-size: 31px;
  font-weight: 500;
  text-align: center;
}
.shippingStatusContainer .text{
  font-size: 12px;
  font-weight: normal;
  color: #c2c2c2;
  text-align: center;
}
.shippingStatusContainer .icon{
  display: flex;
  align-items: center;
  padding: 20px;
  width: 16px;
  height: 16px;
}


/*=================== 주문목록 ~ 찜한상품 리스트 ==================*/
.listContainer{  
  padding: 0;
 
  margin-bottom: 10px;
}
.listContainer .item{  
  display: flex;
  align-items: center;
  padding: 16px;
  color: black;
  text-decoration: none;  
  height: 56px;
  box-sizing: border-box;
}
.listContainer .icon{  
  margin-right: 14px;
}
.listContainer .text{
  font-size: 16px;
  position: relative;
}
.listContainer .right{
  margin-left: auto;
}


/*=================== 내지갑의 보유 적립금 들어가는 부분 ================*/
.listContainer .smallLight{
  font-size: 14px;
  color: #c2c2c2;  
}
.listContainer .smallLight > span{
  margin-left: 10px;
}

.listContainer .right .blct{
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}



/* 공지사항 이용안내 고객센터 */

.infoContainer .item{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  text-decoration: none;
  color: black;
}
.infoContainer .item > div:first-child{
  margin-bottom: 2px;
}



/*  */
.listContainer .item:hover{
/*   background-color: #f8f8f8; */
}
.infoContainer .item:hover{
/*   background-color: #f8f8f8; */
}
</style>
<style>
  img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Loader */

.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}

</style>





<div id="main_container" style="padding-top:100px;">

  <section class="b_inner">

      <div class="hori_cont">
          <div class="profile_wrap">
              <div class="profile_img">
                  이미지
              </div>
          </div>

          <div class="detail">
              <div class="top">
                  <div class="user_name">KindTiger</div>
                  <a href="profile_edit.html" class="profile_edit">프로필편집</a>
                  <a href="#" class="logout">로그아웃</a>
              </div>

              <ul class="middle">
                  <li>
                      <span>게시물</span>
                      3
                  </li>
                  <li>
                      <span>팔로워</span>
                      3
                  </li>
                  <li>
                      <span>팔로우</span>
                      3
                  </li>
              </ul>
              <p class="about">
                  <span class="nick_name">kindtigerrr</span>
              </p>

          </div>
      </div>

    

      


		<!-- End of profile section -->
   



</div>
<div class="wrap">
  <div class="shippingStatusContainer">
    <div class="title">
      주문/배송조회
    </div>
    <div class="status">
      
      <div class="item">
        <div>
          <div class="green number">6</div>
          <div class="text">장바구니</div>
        </div>
        <div class="icon"> > </div>
      </div>     
      <div class="item">
        <div>
          <div class="number">0</div>
          <div class="text">결제완료</div>
        </div>
        <div class="icon"> > </div>
      </div>     
      <div class="item">
        <div>
          <div class="green number">1</div>
          <div class="text">배송중</div>
        </div>
        <div class="icon"> > </div>
      </div>     
      <div class="item">
        <div>
          <div class="green number">3</div>
          <div class="text">구매확정</div>
        </div>
      </div>     
      
    </div>
    
  </div>  
  <div class="listContainer">
    <a href="#" class="item">
        <div class="icon">ii</div>
        <div class="text">주문목록<span class="circle"></span></div>
        <div class="right"> > </div>
    </a>
  </div>
     {% set totalPrice = 0 %}
    {% for payment in payments %}
  <div class="listContainer">
 
    <a href="#" class="item">
        <div class="icon">.</div>
    
        {% set totalPrice = totalPrice + payment.price %}
        <div>{{'주문가격:'+payment.price}}</div>
    
    
    
 
        <div class="right"> > </div>
    </a>
  </div>
       {% endfor %}


<div class="listContainer">
  <a href="#" class="item">
    <div class="row"></div>
      <div class="col-12">
        {% if totalPrice >10000 and totalPrice <49000 %} 
        <div class="level_summ">
          <div class="member_txt2">
            <strong><span class="xans-member-var-name">{{user.nick}}</span> 크루</strong>님은
            <br><span class="color" id="group_name"><span class="xans-member-var-group_name">아이언</span></span>
            등급입니다.
          </div>
        </div>
      </div>
  
      {% elif totalPrice >50000 and totalPrice <100000 %} 
      <div class="level_summ ">
        <div class="member_txt2">
          <strong><span class="xans-member-var-name">{{user.nick}}</span> 크루</strong>님은
          <br><span class="color" id="group_name"><span class="xans-member-var-group_name">브론즈</span></span> 등급입니다.
        </div>
    
    </div>
    {% elif totalPrice >100000 and totalPrice <200000 %} 
    <div class="level_summ ">
      <div class="member_txt2">
        <strong><span class="xans-member-var-name">{{user.nick}}</span> 크루</strong>님은
        <br><span class="color" id="group_name"><span class="xans-member-var-group_name">실버</span></span> 등급입니다.
      </div>
 
  </div>
  {% elif totalPrice >200000 and totalPrice <500000 %} 
  <div class="level_summ ">
    <div class="member_txt2">
      <strong><span class="xans-member-var-name">{{user.nick}}</span> 크루</strong>님은
      <br><span class="color" id="group_name"><span class="xans-member-var-group_name">골드</span></span> 등급입니다.
    </div>

  </div>
  {% elif totalPrice >500000 and totalPrice <100000 %} 
  <div class="level_summ ">
  <div class="member_txt2">
    <strong><span class="xans-member-var-name">{{user.nick}}</span> 크루</strong>님은
    <br><span class="color" id="group_name"><span class="xans-member-var-group_name">플레티넘</span></span> 등급입니다.
  </div>

  </div>
  {% elif totalPrice >1000000 and totalPrice <5000000 %} 
  <div class="level_summ ">
  <div class="member_txt2">
  <strong><span class="xans-member-var-name">{{user.nick}}</span> 크루</strong>님은
  <br><span class="color" id="group_name"><span class="xans-member-var-group_name">마스터</span></span> 등급입니다.
  </div>

  </div>
  {% elif totalPrice >5000000 and totalPrice %}
  <div class="level_summ ">
  <div class="member_txt2">
  <strong><span class="xans-member-var-name">{{user.nick}}</span> 크루</strong>님은
  <br><span class="color" id="group_name"><span class="xans-member-var-group_name">첼린저</span></span> 등급입니다.
  </div>

  </div>
  {% endif %}
  <div>
  <a href=""> 멤버쉽 등급별 혜택보기</a>
  </div>
  </div>
  </div>
  </a>

</div>
  <div class="listContainer">
    <a href="#" class="item">
        <div class="icon">ii</div>
        <div class="text">
          <span>내지갑</span>
          <span class="smallLight">
            <span>|</span>
            <span>보유 적립금</span>
          </span>          
        </div>                
        <div class="right">
          <span class="blct"><div>{{'전체 총 주문가격:'+totalPrice+'원'}}</div></span>
          </div>
    </a>
  
  </div>

</div>




  















{% endblock %}