{% extends 'layout.html' %}

{% block content %}
<div class="profile" style="padding-top:200px ;">
  {{payment.capnumber + '님'}}
  {% if user and user.id  %}
    <div class="user-names" style="color: black;">{{user.nick + '님'}}</div>
    <div class="half">
      
    </div>
    <div class="half">{{payments.capnumber + '님'}}
    
    </div>
  <input id="my-id" type="hidden" value="{{user.id}}">

  <div id="my-profile" href="/profile" class="btn" style="color:black;">등급</div>
  <a id="logout" href="/auth/logout" class="btn" style="color:black;">포인트</a>
  

{% endif %}
{% for payment in payments  %}
{{payment.capnumber + '님'}}
{%  endfor %}
{% endblock %}